<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <section id="column1" class="pictureColumn">
        <section class="imgBox">
          <div id="img1" class="aboutUsImg">
            <img src="">
          </div>
          <h1>Hi, I am Krystal</h1>
          <p> I am great person and developer</p>
            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>
        </section>
        <section class="imgBox">
          <div id="img2" class="aboutUsImg">
            <img src="">
          </div>
          <h1>I am Tenaw </h1>
          <p> I am a kind of lazy person </p>
            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>
    
        </section>
      </section>
    
      <section id="column3" class="pictureColumn">
        <section class="imgBox">
          <div id="img3" class="aboutUsImg">
            <img src="">
          </div>
          <h1> Hi, this is Madison</h1>
          <p> I am a great person and  developer</p>
            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>
    
        </section>
        <section class="imgBox">
          <div id="img4" class="aboutUsImg">
            <img src="">
          </div>
          <h1>Hello, This is Thomas</h1>
          <p> I am great person and developer</p>
            <a href="https://www.linkedin.com/in/thomas-tesfaye-853062b7/" target="_blank"><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href="https://github.com/Thomas720"><img src="/resources/github.png" alt="" class="github"></a>
    
        </section>
      </section>
    <!-- <main id = Bio>
        <div id="Madison">
            <img src="" alt="">
            <h1> Hi, this is Madison</h1>
            <p> I am a great person and  developer</p>
        </div>

        <div id="Krystal">
            <img src="" alt="">
            <h1>Hi, I am Krystal</h1>
            <p> I am great person and developer</p>

        </div>

        <div id="Thomas">
            <img src="" alt="">
            <h1>Hello, This is Thomas</h1>
            <p> I am great person and developer</p>

        </div>

        <div id="Tenaw">
            <img src="" alt="">
            <h1>I am Tenaw </h1>
            <p> I am a kind of lazy person </p>

        </div>
        <!-- about us here -->
    <!-- </main> --> 
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>