<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main id = Bio>
        <div id="Madison">
            <img src="/resources/img/madisonHeadshot.jpg" alt="">
            <h1> Hi, this is Madison</h1>
            <p> I am a great person and  developer</p>
        </div>

        <div id="Krystal">
            <img src="/resources/img/me but the doctor.jpg" alt="">
            <h1>Hi, I am Krystal</h1>
            <p> I am great person and developer</p>

        </div>

        <div id="Thomas">
            <img src="" alt="">
            <h1>Hello, This is Thomas</h1>
            <p> I am great person and developer</p>

        </div>

        <div id="Tenaw">
            <img src="resources/img/IMG_00016.jpg" alt="">
            <h1>I am Tenaw </h1>
            <p> I am a kind of lazy person </p>

        </div>
        <!-- about us here -->
    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>