<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>About Us</title>
</head>
<body>
<header>
    <img src="" alt="">
        <!-- insert hamburger menu ejs here -->
        <hr></hr>
</header>
</body>
</html>