<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <!-- about us here -->
    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>