<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <!-- <section id="column1" class="pictureColumn">
        <section class="imgBox">
          <div id="img1" class="aboutUsImg">
            <!-- <img src="/resources/Krystal.jpg"> -->
          <!-- </div>
          <h1>Hi, I am Krystal</h1>
          <p> I am great person and developer</p>
        </section>
        <section class="imgBox">
            <div id="img2" class="aboutUsImg">
                <img src="/public/resources/img/IMG-0016.JPG">
            </div>
            <h1>I am Tenaw </h1>
            <p> I am software developer and fun of nature. </p>
            
        </section>
    </section>
    
    <section id="column3" class="pictureColumn">
        <section class="imgBox">
            <div id="img3" class="aboutUsImg">
                <img src="">
            </div>
            <h1> Hi, this is Madison</h1>
            <p> I am a great person and  developer</p>
            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>
            
        </section>
        <section class="imgBox">
            <div id="img4" class="aboutUsImg">
                <img src="">
            </div>
            <h1>Hello, This is Thomas</h1>
            <p> I am great person and developer</p>
        </section>
        
    </section> --> -->
    <main id = Bio>
        <div id="Madison">
            <img src="/resources/img/madisonHeadshot.jpg" alt="">
            <h1> Hi, this is Madison</h1>
            <p> Madison is a full-stack software developer with a passion for <br>
                 both breaking apps and making apps. She has two fur-children, <br> 
                 has hiked on volcanoes and waterfalls, regularly blasts her eardrums with <br>
                  heavy metal music, and is always looking for another book recommendation.</p>

            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>
        </div>
        
        <div id="Krystal">
            <img src="/resources/img/me but the doctor.jpg" alt="">
            <h1>Hi, I am Krystal</h1>
            <p> I am great person and developer</p>
            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>
            
        </div>
        
        <div id="Thomas">
            <img src="/resources/thomas.jpg" alt="">
            <h1>Hello, This is Thomas</h1>
            <p> I am great person and developer</p>
            
            <a href="https://www.linkedin.com/in/thomas-tesfaye-853062b7/" target="_blank"><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href="https://github.com/Thomas720"><img src="/resources/github.png" alt="" class="github"></a>
        </div>
        
        <div id="Tenaw">
            <img src="resources/img/IMG_00016.jpg" alt="">
            <h1>I am Tenaw </h1>
            <p> I am a kind of lazy person </p>
            <a href=""><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href=""><img src="/resources/github.png" alt="" class="github"></a>

        </div>

        <!-- about us here -->
    </main> 

    </main>

    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>