<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    
    <main id = Bio>
        <div id="Madison">
            <img src="/resources/madison.jpg" alt="">

            <p> Madison is a full-stack software developer with a passion for <br>
                 both breaking apps and making apps. She has two fur-children, <br> 
                 has hiked on volcanoes and waterfalls, regularly blasts her eardrums with <br>
                  heavy metal music, and is always looking for another book recommendation.</p>

            <a href="https://www.linkedin.com/in/madison-stehle/"><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href="https://github.com/madisonstehle"><img src="/resources/github.png" alt="" class="github"></a>
        </div>
        
        <div id="Krystal">
            <img src="/resources/krystal.jpg" alt="">
            <p> Krystal is a software developer based in Seattle, WA.<br>
                 Outside of coding, she enjoys dancing, yoga, and Doctor Who.<br>
                  Krystal hails from New York City.</p>
            <a href="https://www.linkedin.com/in/krystal-madrinan/"><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href="https://github.com/KrystalMadrinan"><img src="/resources/github.png" alt="" class="github"></a>
            
        </div>
        
        <div id="Thomas">
            <img src="/resources/thomas.jpg" alt="" />
            <h1>Hello, This is Thomas</h1>
            <p> I am Software developer with a background in Graphics Design <br>
                and who is passionate about drawing art. <br>
                I focus on the solution, not on the problem!</p>
            
            <a href="https://www.linkedin.com/in/thomas-tesfaye-853062b7/" target="_blank"><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href="https://github.com/Thomas720"><img src="/resources/github.png" alt="" class="github"></a>
        </div>
        
        <div id="Tenaw">
            <img src="resources/tenaw.jpg" alt="" />

            <p> My name is Tenaw and I am software Engineer. <br>
                I have been in Seattle about five years.<br>
                I love score, I enjoy spending time with family <br>
                and also like trave and walking around green areas. <br>
             </p>
            <a href="https://www.linkedin.com/feed/"><img src="/resources/linkedin.png" alt="" class="linkedin"></a>
            <a href="https://github.com/mete439"><img src="/resources/github.png" alt="" class="github"></a>

        </div>

    </main> 

    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>