<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Date Results</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <%= cookie %>
        <a href="/"> <button>Home</button></a>
        <a href="/results"> <button>My Dates</button></a>
        <a href="/quiz"> <button>Take the Quiz</button></a>
    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>

</html>