<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
  <title>Quiz</title>
</head>

<body>
  <header>
    <%- include('partials/header.ejs') %>
  </header>

<main>
  <h1>Quiz</h1>
  <p>instructions/blurb about quiz here</p>


  <!-- QUIZ -->
  <div id="quiz">
    
    <div class="questions">
      <h3>How do?</h3>
      <form id="one">
        <fieldset class="positive">
          <input type="radio" name="questionOne" value="positive">
          <label for="positive">positive</label>
        </fieldset>
        
        <fieldset class="negative">
          <input type="radio" name="questionOne" value="negative">
          <label for="negative">negative</label>
        </fieldset>
        <button class="enter">Enter</button>
      </form>
    </div>

    <div class="questions">
      <h3>What be?</h3>
      <form id="two">
        <fieldset class="positive">
          <input type="radio" name="questionTwo" value="positive">
          <label for="positive">positive</label>
        </fieldset>
        
        <fieldset class="negative">
          <input type="radio" name="questionTwo" value="negative">
          <label for="negative">negative</label>
        </fieldset>
        <button class="enter">Enter</button>
      </form>
    </div>

    <a href="/newresult">
      <button type="submit" id="finalSubmit">Submit</button>
    </a>

  </div>


  <!-- <form action="/newresult" method="post">
    <button>Submit</button>
  </form> -->

  <a href="/"> <button>Home</button></a>
  <a href="/results"> <button>My Dates</button></a>

</main>
  <footer><%- include('partials/footer.ejs') %></footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>

</html>