<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>selfU</title>
  <link rel="stylesheet" href="./styles/styles.css" />
</head>

<body>


  <h1>Quiz</h1>
  <p>instructions/blurb about quiz here</p>

  <form action="/newresult" method="post">
    <button>Submit</button>
  </form>

  <a href="/"> <button>Home</button></a>
  <a href="/results"> <button>My Dates</button></a>

  <script src="/js/app.js"></script>
</body>

</html>