<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>My Dates</title>
</head>
<body>
    <%= results.dateitemone %>
    <%= results.dateitemtwo %>

    <%= results.dateitemthree %>

    <a href="/quiz"> <button>Take the Quiz</button></a>
    <a href="/"> <button>Home</button></a>


</body>
</html>