hr {
    background-color: #7bc0f2;
}

footer {
    background-color: #7bc0f2;
    color: #fafafa;
}

button {
  background-color: #7bc0f2;
  color: #36393b;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  margin: 25px 0 5px 0;
  padding: 5px;
}

button:hover {
  box-shadow: 0 1px rgba(0,0,0,0.24);
  transform: translateY(1px);
}


/* About Us */

#Madison, #Krystal, #Thomas, #Tenaw {
  border: 5px solid #7bc0f2;
}



/* Quiz Stuff */

#instructions {
  font-size: larger;
}

.questions, #date, #theNewDate {
  outline: 2px solid #7bc0f2;
}

#quiz, #mydates, #newDate {
  outline: 5px solid #7bc0f2;
}


/* Header stuff starts here */

#menuToggle a
 {
   text-decoration: none;
   color: #36393b;
 }

 #menuToggle a:hover
 {
   color: #8aa29e;
 }

 #menuToggle span
 {
   background: #7bc0f2;
   border-radius: 3px;
 }

 /* 
  * Tranfrom hamburger into one line.
  */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    background: #232323;
  }
  
  /* Hide the two spans */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    opacity: 0;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
  }

  #menu
 {
   background: #7bc0f2;
   list-style-type: none;
 }